* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  display: flex;
  gap: 24px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
}

/* Hero Section */

.hero-section {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 100px 200px;
}

h2 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.hero-content p,
button {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  padding: 8px 32px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 12px;
}

button:hover {
  cursor: pointer;
  background-color: #3881f6dc;
}

.hero-content {
  max-width: 500px;
}

/* place-holder for image */
.img {
  display: flex;
  align-items: center;
  background-color: #6d747d;
  padding: 0 100px;
  color: white;
}

/* Info Section */

.info-section {
  text-align: center;
  padding: 50px 200px;
}

h3 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2927;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  max-width: 200px;
}

/* place-holder for image or illustration */
.box {
  min-width: 200px;
  height: 200px;
  padding: 30px;
  border: 5px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 10px;
}

/* Quote Section */

.quote-section {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
  padding: 150px 200px;
}

.quote-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.author {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

/* CTA Section */

.cta-section {
  display: flex;
  font-size: 24px;
  color: #e5e7eb;
  background-color: #3882f6;
  margin: 100px 200px;
  padding: 50px 100px;
  border-radius: 16px;
  justify-content: space-between;
}

p.subtext {
  font-size: 18px;
}

.cta-button {
  border: 2px solid #e5e7eb;
}

.cta-button:hover {
  background-color: #3677df;
}

/* Footer Section */
footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
