* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  display: flex;
  gap: 24px;
}

a {
  color: #e5e7eb;
  font-size: 18px;
}
